@font-face {
  font-family: "Montserrat";
  font-style: normal;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Thin";
  font-style: normal;
  src: url("../assets/fonts/Montserrat/Montserrat-Thin.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
  font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.font-space {
  font-family: "Space Mono", monospace !important;
}

.font-thin {
  font-family: "Montserrat-Thin";
}

.font-medium {
  font-family: "Montserrat";
}

.font-bold {
  font-family: "Montserrat-Bold";
}

.font-size-s {
  font-size: 12px;
}

.font-size-m {
  font-size: 14px;
}

.font-size-l {
  font-size: 18px;
}

.font-color-primary {
  color: #f8f7f3;
}

.font-color-secondary {
  color: #292929;
}
