header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2%;
    z-index: 10000;
    background-color: #000;
    height: 100px;
    top: 0;
  }
  
  .heading {
    color: #f8f7f3;
    font-size: 1.5em;
    display: flex;
    align-items: center;
  }
  
  .neonText {
    color: #f8f7f3;
    text-shadow: 0 0 7px #f8f7f3, 0 0 10px #f8f7f3, 0 0 21px #f8f7f3, 0 0 42px #0fa,
      0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  }

  @media screen and (max-width: 600px) {
    header {
        height: 75px;
        justify-content: center;
    }
  } 
  