#stars {
  left: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 752px 394px #f8f7f3, 717px 1352px #f8f7f3, 1188px 875px #f8f7f3,
    1822px 1412px #f8f7f3, 1885px 1471px #f8f7f3, 1751px 1834px #f8f7f3, 582px 837px #f8f7f3,
    1008px 1690px #f8f7f3, 1763px 420px #f8f7f3, 655px 893px #f8f7f3, 694px 1214px #f8f7f3,
    586px 1224px #f8f7f3, 1278px 1940px #f8f7f3, 1234px 1262px #f8f7f3, 583px 252px #f8f7f3,
    500px 1765px #f8f7f3, 183px 743px #f8f7f3, 942px 274px #f8f7f3, 837px 1421px #f8f7f3,
    1189px 1297px #f8f7f3, 1295px 599px #f8f7f3, 228px 973px #f8f7f3, 879px 517px #f8f7f3,
    1809px 1191px #f8f7f3, 1581px 1827px #f8f7f3, 511px 1423px #f8f7f3,
    1918px 1496px #f8f7f3, 105px 192px #f8f7f3, 425px 462px #f8f7f3, 909px 1707px #f8f7f3,
    1480px 238px #f8f7f3, 18px 130px #f8f7f3, 1095px 225px #f8f7f3, 1802px 1038px #f8f7f3,
    1031px 815px #f8f7f3, 418px 1652px #f8f7f3, 442px 1335px #f8f7f3, 1056px 1857px #f8f7f3,
    1592px 768px #f8f7f3, 1628px 1061px #f8f7f3, 987px 1695px #f8f7f3, 1305px 770px #f8f7f3,
    900px 1572px #f8f7f3, 193px 1612px #f8f7f3, 1522px 597px #f8f7f3, 1166px 489px #f8f7f3,
    1362px 623px #f8f7f3, 1574px 27px #f8f7f3, 1077px 584px #f8f7f3, 331px 152px #f8f7f3,
    202px 1444px #f8f7f3, 1163px 1412px #f8f7f3, 1361px 174px #f8f7f3, 868px 1941px #f8f7f3,
    1770px 1747px #f8f7f3, 1356px 780px #f8f7f3, 475px 1298px #f8f7f3, 1002px 1619px #f8f7f3,
    689px 1458px #f8f7f3, 555px 283px #f8f7f3, 782px 540px #f8f7f3, 1427px 1538px #f8f7f3,
    1043px 220px #f8f7f3, 713px 970px #f8f7f3, 726px 452px #f8f7f3, 676px 1406px #f8f7f3,
    1444px 1868px #f8f7f3, 1695px 1057px #f8f7f3, 1378px 1537px #f8f7f3,
    1320px 1833px #f8f7f3, 454px 574px #f8f7f3, 148px 1577px #f8f7f3, 1642px 1485px #f8f7f3,
    91px 1670px #f8f7f3, 617px 79px #f8f7f3, 375px 659px #f8f7f3, 1303px 1913px #f8f7f3,
    898px 851px #f8f7f3, 1789px 1352px #f8f7f3, 1296px 783px #f8f7f3, 66px 350px #f8f7f3,
    1976px 1365px #f8f7f3, 1205px 1436px #f8f7f3, 1274px 254px #f8f7f3,
    1695px 1763px #f8f7f3, 1068px 322px #f8f7f3, 105px 535px #f8f7f3, 17px 1369px #f8f7f3,
    1906px 1689px #f8f7f3, 1909px 996px #f8f7f3, 1778px 833px #f8f7f3, 1352px 814px #f8f7f3,
    1010px 1713px #f8f7f3, 860px 706px #f8f7f3, 1752px 134px #f8f7f3, 883px 1213px #f8f7f3,
    1540px 629px #f8f7f3, 652px 842px #f8f7f3, 878px 1654px #f8f7f3, 1005px 457px #f8f7f3,
    1066px 442px #f8f7f3, 407px 1816px #f8f7f3, 1538px 797px #f8f7f3, 603px 85px #f8f7f3,
    1538px 1118px #f8f7f3, 1682px 172px #f8f7f3, 1738px 1767px #f8f7f3, 1104px 236px #f8f7f3,
    510px 1003px #f8f7f3, 1890px 713px #f8f7f3, 416px 1706px #f8f7f3, 1476px 472px #f8f7f3,
    430px 1087px #f8f7f3, 929px 938px #f8f7f3, 1077px 1410px #f8f7f3, 1478px 1475px #f8f7f3,
    1284px 1638px #f8f7f3, 690px 934px #f8f7f3, 6px 91px #f8f7f3, 350px 797px #f8f7f3,
    1737px 750px #f8f7f3, 1038px 431px #f8f7f3, 422px 1544px #f8f7f3, 562px 849px #f8f7f3,
    76px 871px #f8f7f3, 710px 1280px #f8f7f3, 50px 1268px #f8f7f3, 490px 1089px #f8f7f3,
    1834px 1934px #f8f7f3, 581px 388px #f8f7f3, 1286px 927px #f8f7f3, 1746px 156px #f8f7f3,
    784px 1673px #f8f7f3, 1587px 148px #f8f7f3, 238px 314px #f8f7f3, 1247px 1058px #f8f7f3,
    1116px 1019px #f8f7f3, 1113px 928px #f8f7f3, 1356px 1771px #f8f7f3, 99px 1004px #f8f7f3,
    560px 1671px #f8f7f3, 1249px 1277px #f8f7f3, 613px 1453px #f8f7f3, 1381px 728px #f8f7f3,
    1049px 1228px #f8f7f3, 1231px 1804px #f8f7f3, 1378px 6px #f8f7f3, 483px 856px #f8f7f3,
    370px 1717px #f8f7f3, 155px 699px #f8f7f3, 511px 1115px #f8f7f3, 1307px 1389px #f8f7f3,
    367px 1720px #f8f7f3, 721px 1379px #f8f7f3, 1278px 977px #f8f7f3, 652px 171px #f8f7f3,
    1268px 1552px #f8f7f3, 1279px 370px #f8f7f3, 1812px 1562px #f8f7f3, 15px 720px #f8f7f3,
    1068px 1243px #f8f7f3, 88px 455px #f8f7f3, 1352px 276px #f8f7f3, 773px 1571px #f8f7f3,
    1904px 1188px #f8f7f3, 727px 1031px #f8f7f3, 1086px 828px #f8f7f3, 1081px 1974px #f8f7f3,
    1113px 825px #f8f7f3, 229px 184px #f8f7f3, 1642px 1075px #f8f7f3, 966px 740px #f8f7f3,
    1385px 1441px #f8f7f3, 612px 95px #f8f7f3, 1891px 1198px #f8f7f3, 319px 846px #f8f7f3,
    1038px 714px #f8f7f3, 323px 1552px #f8f7f3, 1399px 120px #f8f7f3, 657px 529px #f8f7f3,
    25px 904px #f8f7f3, 210px 286px #f8f7f3, 1125px 767px #f8f7f3, 805px 602px #f8f7f3,
    1515px 1036px #f8f7f3, 1313px 1325px #f8f7f3, 779px 1148px #f8f7f3, 918px 1051px #f8f7f3,
    1248px 709px #f8f7f3, 385px 1721px #f8f7f3, 322px 383px #f8f7f3, 1455px 56px #f8f7f3,
    1319px 968px #f8f7f3, 790px 1783px #f8f7f3, 32px 280px #f8f7f3, 615px 1130px #f8f7f3,
    1573px 639px #f8f7f3, 1317px 114px #f8f7f3, 220px 1274px #f8f7f3, 1718px 1741px #f8f7f3,
    738px 795px #f8f7f3, 1473px 407px #f8f7f3, 4px 146px #f8f7f3, 1051px 1659px #f8f7f3,
    727px 1802px #f8f7f3, 1586px 1265px #f8f7f3, 978px 712px #f8f7f3, 1302px 1310px #f8f7f3,
    1400px 1347px #f8f7f3, 1071px 1469px #f8f7f3, 1233px 1432px #f8f7f3,
    849px 1810px #f8f7f3, 690px 1310px #f8f7f3, 826px 937px #f8f7f3, 1025px 1537px #f8f7f3,
    961px 274px #f8f7f3, 1516px 1584px #f8f7f3, 238px 306px #f8f7f3, 1675px 41px #f8f7f3,
    1994px 312px #f8f7f3, 947px 335px #f8f7f3, 1375px 980px #f8f7f3, 102px 1418px #f8f7f3,
    1581px 566px #f8f7f3, 1568px 1986px #f8f7f3, 1967px 1704px #f8f7f3, 502px 1180px #f8f7f3,
    1729px 444px #f8f7f3, 1674px 504px #f8f7f3, 455px 693px #f8f7f3, 1916px 1630px #f8f7f3,
    286px 1953px #f8f7f3, 952px 243px #f8f7f3, 591px 1685px #f8f7f3, 1002px 46px #f8f7f3,
    1062px 1274px #f8f7f3, 1804px 1715px #f8f7f3, 178px 1966px #f8f7f3, 54px 1278px #f8f7f3,
    1476px 1221px #f8f7f3, 343px 137px #f8f7f3, 473px 547px #f8f7f3, 1911px 1662px #f8f7f3,
    1667px 767px #f8f7f3, 1314px 423px #f8f7f3, 15px 1187px #f8f7f3, 1102px 662px #f8f7f3,
    1174px 1459px #f8f7f3, 1858px 494px #f8f7f3, 411px 1705px #f8f7f3, 1372px 262px #f8f7f3,
    692px 1523px #f8f7f3, 463px 1762px #f8f7f3, 512px 1766px #f8f7f3, 367px 676px #f8f7f3,
    1141px 570px #f8f7f3, 1265px 1801px #f8f7f3, 1407px 33px #f8f7f3, 627px 603px #f8f7f3,
    1089px 1085px #f8f7f3, 1820px 644px #f8f7f3, 983px 1377px #f8f7f3, 1811px 394px #f8f7f3,
    196px 718px #f8f7f3, 79px 480px #f8f7f3, 1435px 674px #f8f7f3, 1904px 1623px #f8f7f3,
    1125px 385px #f8f7f3, 1116px 587px #f8f7f3, 1608px 862px #f8f7f3, 1178px 862px #f8f7f3,
    832px 1304px #f8f7f3, 1620px 1695px #f8f7f3, 1794px 1839px #f8f7f3, 1569px 360px #f8f7f3,
    820px 1629px #f8f7f3, 87px 773px #f8f7f3, 1187px 42px #f8f7f3, 914px 836px #f8f7f3,
    260px 591px #f8f7f3, 1463px 1702px #f8f7f3, 1466px 1550px #f8f7f3, 1210px 841px #f8f7f3,
    987px 1216px #f8f7f3, 451px 1572px #f8f7f3, 1993px 1844px #f8f7f3, 1037px 1834px #f8f7f3,
    1218px 6px #f8f7f3, 373px 1124px #f8f7f3, 406px 1141px #f8f7f3, 111px 400px #f8f7f3,
    1077px 1653px #f8f7f3, 1806px 1899px #f8f7f3, 1431px 1580px #f8f7f3,
    1092px 454px #f8f7f3, 1598px 1379px #f8f7f3, 695px 1160px #f8f7f3, 1186px 1398px #f8f7f3,
    1106px 1912px #f8f7f3, 86px 1899px #f8f7f3, 478px 1344px #f8f7f3, 601px 164px #f8f7f3,
    979px 1208px #f8f7f3, 1672px 1955px #f8f7f3, 1668px 189px #f8f7f3, 1358px 1905px #f8f7f3,
    512px 453px #f8f7f3, 1123px 764px #f8f7f3, 126px 481px #f8f7f3, 1554px 422px #f8f7f3,
    1893px 1032px #f8f7f3, 1547px 41px #f8f7f3, 416px 1716px #f8f7f3, 1598px 1068px #f8f7f3,
    308px 823px #f8f7f3, 17px 1529px #f8f7f3, 775px 1452px #f8f7f3, 947px 5px #f8f7f3,
    1732px 1040px #f8f7f3, 202px 1834px #f8f7f3, 1913px 1795px #f8f7f3, 902px 622px #f8f7f3,
    74px 1645px #f8f7f3, 443px 1308px #f8f7f3, 1396px 1526px #f8f7f3, 769px 1715px #f8f7f3,
    698px 1271px #f8f7f3, 1640px 271px #f8f7f3, 802px 729px #f8f7f3, 674px 1397px #f8f7f3,
    170px 37px #f8f7f3, 1816px 552px #f8f7f3, 1777px 1891px #f8f7f3, 1808px 894px #f8f7f3,
    1521px 1852px #f8f7f3, 1886px 1005px #f8f7f3, 1168px 391px #f8f7f3,
    1713px 1429px #f8f7f3, 275px 537px #f8f7f3, 940px 685px #f8f7f3, 225px 1269px #f8f7f3,
    1338px 201px #f8f7f3, 460px 332px #f8f7f3, 473px 1866px #f8f7f3, 876px 450px #f8f7f3,
    95px 617px #f8f7f3, 1519px 385px #f8f7f3, 468px 389px #f8f7f3, 1564px 1890px #f8f7f3,
    1792px 1350px #f8f7f3, 864px 940px #f8f7f3, 1181px 636px #f8f7f3, 700px 1136px #f8f7f3,
    161px 796px #f8f7f3, 1350px 124px #f8f7f3, 577px 1090px #f8f7f3, 574px 1261px #f8f7f3,
    1033px 1231px #f8f7f3, 1085px 1157px #f8f7f3, 789px 963px #f8f7f3, 78px 309px #f8f7f3,
    1222px 1488px #f8f7f3, 312px 739px #f8f7f3, 1141px 408px #f8f7f3, 1076px 175px #f8f7f3,
    1511px 1128px #f8f7f3, 763px 1869px #f8f7f3, 1012px 994px #f8f7f3, 250px 1528px #f8f7f3,
    680px 1982px #f8f7f3, 1079px 777px #f8f7f3, 1883px 164px #f8f7f3, 589px 528px #f8f7f3,
    1176px 240px #f8f7f3, 66px 1350px #f8f7f3, 730px 542px #f8f7f3, 934px 390px #f8f7f3,
    374px 1180px #f8f7f3, 1179px 1192px #f8f7f3, 395px 166px #f8f7f3, 552px 215px #f8f7f3,
    1144px 994px #f8f7f3, 1017px 329px #f8f7f3, 820px 1844px #f8f7f3, 837px 779px #f8f7f3,
    1112px 485px #f8f7f3, 210px 1811px #f8f7f3, 1304px 500px #f8f7f3, 528px 1704px #f8f7f3,
    699px 1936px #f8f7f3, 520px 929px #f8f7f3, 633px 1660px #f8f7f3, 1255px 1561px #f8f7f3,
    48px 920px #f8f7f3, 1807px 732px #f8f7f3, 387px 861px #f8f7f3, 382px 189px #f8f7f3,
    289px 1567px #f8f7f3, 1945px 1156px #f8f7f3, 26px 126px #f8f7f3, 1212px 1828px #f8f7f3,
    1780px 1768px #f8f7f3, 1809px 917px #f8f7f3, 586px 1271px #f8f7f3, 695px 1975px #f8f7f3,
    1577px 386px #f8f7f3, 1225px 1190px #f8f7f3, 1302px 1602px #f8f7f3,
    1123px 1148px #f8f7f3, 1201px 503px #f8f7f3, 691px 150px #f8f7f3, 5px 1625px #f8f7f3,
    1290px 1805px #f8f7f3, 790px 1911px #f8f7f3, 128px 1647px #f8f7f3, 1295px 1965px #f8f7f3,
    1466px 876px #f8f7f3, 1823px 1426px #f8f7f3, 1739px 1550px #f8f7f3, 1806px 506px #f8f7f3,
    712px 79px #f8f7f3, 1247px 40px #f8f7f3, 242px 1273px #f8f7f3, 920px 982px #f8f7f3,
    525px 476px #f8f7f3, 1620px 1565px #f8f7f3, 919px 197px #f8f7f3, 1613px 1760px #f8f7f3,
    605px 1688px #f8f7f3, 682px 476px #f8f7f3, 941px 1167px #f8f7f3, 1764px 1212px #f8f7f3,
    450px 731px #f8f7f3, 1860px 1744px #f8f7f3, 1562px 226px #f8f7f3, 743px 581px #f8f7f3,
    866px 274px #f8f7f3, 1247px 580px #f8f7f3, 708px 1598px #f8f7f3, 174px 1987px #f8f7f3,
    287px 1888px #f8f7f3, 1449px 1114px #f8f7f3, 977px 1405px #f8f7f3, 220px 1012px #f8f7f3,
    1360px 193px #f8f7f3, 817px 1857px #f8f7f3, 92px 275px #f8f7f3, 1479px 1605px #f8f7f3,
    887px 1256px #f8f7f3, 148px 467px #f8f7f3, 1905px 227px #f8f7f3, 1056px 950px #f8f7f3,
    776px 1064px #f8f7f3, 249px 1572px #f8f7f3, 666px 319px #f8f7f3, 914px 1928px #f8f7f3,
    650px 766px #f8f7f3, 208px 682px #f8f7f3, 1917px 1834px #f8f7f3, 789px 1934px #f8f7f3,
    1554px 518px #f8f7f3, 351px 716px #f8f7f3, 1816px 705px #f8f7f3, 69px 89px #f8f7f3,
    1710px 639px #f8f7f3, 1793px 391px #f8f7f3, 1795px 122px #f8f7f3, 1123px 792px #f8f7f3,
    1654px 1615px #f8f7f3, 1598px 527px #f8f7f3, 183px 1844px #f8f7f3, 924px 1163px #f8f7f3,
    1967px 722px #f8f7f3, 745px 699px #f8f7f3, 711px 1197px #f8f7f3, 1302px 717px #f8f7f3,
    309px 1849px #f8f7f3, 1609px 1315px #f8f7f3, 1148px 1938px #f8f7f3, 605px 1639px #f8f7f3,
    1277px 693px #f8f7f3, 493px 1768px #f8f7f3, 761px 1891px #f8f7f3, 473px 1331px #f8f7f3,
    478px 587px #f8f7f3, 1118px 1979px #f8f7f3, 523px 1754px #f8f7f3, 854px 497px #f8f7f3,
    1640px 1507px #f8f7f3, 42px 182px #f8f7f3, 276px 1701px #f8f7f3, 172px 17px #f8f7f3,
    140px 1893px #f8f7f3, 669px 1370px #f8f7f3, 969px 750px #f8f7f3, 1407px 1561px #f8f7f3,
    1767px 1837px #f8f7f3, 931px 454px #f8f7f3, 1480px 32px #f8f7f3, 237px 997px #f8f7f3,
    74px 257px #f8f7f3, 31px 899px #f8f7f3, 855px 908px #f8f7f3, 1169px 1592px #f8f7f3,
    1493px 221px #f8f7f3, 858px 1881px #f8f7f3, 1174px 1068px #f8f7f3, 1965px 848px #f8f7f3,
    659px 1719px #f8f7f3, 1607px 968px #f8f7f3, 967px 1787px #f8f7f3, 124px 1763px #f8f7f3,
    353px 111px #f8f7f3, 599px 241px #f8f7f3, 328px 1547px #f8f7f3, 279px 1331px #f8f7f3,
    1406px 505px #f8f7f3, 1584px 1105px #f8f7f3, 1629px 1429px #f8f7f3,
    1882px 1805px #f8f7f3, 1631px 1591px #f8f7f3, 1065px 1679px #f8f7f3,
    894px 1999px #f8f7f3, 1995px 1936px #f8f7f3, 270px 483px #f8f7f3, 1615px 1343px #f8f7f3,
    1918px 801px #f8f7f3, 1646px 273px #f8f7f3, 1842px 1223px #f8f7f3, 1415px 1447px #f8f7f3,
    476px 534px #f8f7f3, 339px 1764px #f8f7f3, 1074px 1555px #f8f7f3, 1426px 1043px #f8f7f3,
    1481px 1401px #f8f7f3, 524px 1943px #f8f7f3, 580px 1073px #f8f7f3, 852px 1766px #f8f7f3,
    1750px 640px #f8f7f3, 1754px 421px #f8f7f3, 456px 152px #f8f7f3, 977px 591px #f8f7f3,
    1600px 1537px #f8f7f3, 1455px 854px #f8f7f3, 701px 856px #f8f7f3, 1078px 1857px #f8f7f3,
    1491px 1755px #f8f7f3, 739px 370px #f8f7f3, 952px 1648px #f8f7f3, 1973px 1763px #f8f7f3,
    988px 687px #f8f7f3, 1136px 665px #f8f7f3, 1148px 204px #f8f7f3, 290px 845px #f8f7f3,
    1784px 1334px #f8f7f3, 159px 760px #f8f7f3, 1260px 1815px #f8f7f3, 933px 1443px #f8f7f3,
    155px 865px #f8f7f3, 30px 339px #f8f7f3, 1646px 375px #f8f7f3, 584px 980px #f8f7f3,
    507px 1940px #f8f7f3, 1630px 1858px #f8f7f3, 318px 989px #f8f7f3, 317px 1036px #f8f7f3,
    992px 1540px #f8f7f3, 1849px 1703px #f8f7f3, 757px 1332px #f8f7f3, 1706px 1579px #f8f7f3,
    1259px 1933px #f8f7f3, 742px 1835px #f8f7f3, 1775px 1390px #f8f7f3, 449px 1698px #f8f7f3,
    1393px 1935px #f8f7f3, 436px 1958px #f8f7f3, 1355px 1722px #f8f7f3, 416px 1223px #f8f7f3,
    35px 1602px #f8f7f3, 1015px 754px #f8f7f3, 330px 1114px #f8f7f3, 1782px 1406px #f8f7f3,
    472px 1513px #f8f7f3, 1464px 34px #f8f7f3, 965px 799px #f8f7f3, 1287px 762px #f8f7f3,
    521px 1942px #f8f7f3, 368px 1022px #f8f7f3, 233px 1094px #f8f7f3, 1259px 1052px #f8f7f3,
    1361px 578px #f8f7f3, 723px 226px #f8f7f3, 1235px 926px #f8f7f3, 1973px 1523px #f8f7f3,
    1595px 1093px #f8f7f3, 1235px 1968px #f8f7f3, 103px 61px #f8f7f3, 24px 1612px #f8f7f3,
    55px 223px #f8f7f3, 1548px 519px #f8f7f3, 871px 1311px #f8f7f3, 1165px 930px #f8f7f3,
    1439px 1127px #f8f7f3, 284px 1428px #f8f7f3, 1886px 724px #f8f7f3, 795px 893px #f8f7f3,
    1797px 1437px #f8f7f3, 228px 1842px #f8f7f3, 1463px 1315px #f8f7f3, 948px 140px #f8f7f3,
    922px 1851px #f8f7f3, 1064px 1491px #f8f7f3, 353px 991px #f8f7f3, 1432px 909px #f8f7f3,
    1080px 678px #f8f7f3, 982px 1376px #f8f7f3, 1819px 725px #f8f7f3, 1832px 885px #f8f7f3,
    1154px 8px #f8f7f3, 1999px 1360px #f8f7f3, 948px 737px #f8f7f3, 218px 215px #f8f7f3,
    1541px 1898px #f8f7f3, 90px 751px #f8f7f3, 1132px 1491px #f8f7f3, 1761px 185px #f8f7f3,
    650px 818px #f8f7f3, 654px 1724px #f8f7f3, 581px 825px #f8f7f3, 1016px 772px #f8f7f3,
    401px 23px #f8f7f3, 1217px 380px #f8f7f3, 1630px 1020px #f8f7f3, 251px 39px #f8f7f3,
    1195px 1493px #f8f7f3, 1784px 1288px #f8f7f3, 1347px 1014px #f8f7f3, 108px 845px #f8f7f3,
    909px 315px #f8f7f3, 1344px 1331px #f8f7f3, 449px 691px #f8f7f3, 1708px 1586px #f8f7f3,
    336px 384px #f8f7f3, 1211px 1103px #f8f7f3, 1086px 761px #f8f7f3, 477px 236px #f8f7f3,
    156px 1869px #f8f7f3, 749px 1029px #f8f7f3, 713px 888px #f8f7f3, 53px 1763px #f8f7f3,
    1095px 1707px #f8f7f3, 1492px 1377px #f8f7f3, 1226px 516px #f8f7f3, 196px 1263px #f8f7f3,
    48px 845px #f8f7f3, 1242px 1161px #f8f7f3, 223px 525px #f8f7f3, 1008px 28px #f8f7f3,
    1987px 1996px #f8f7f3, 1482px 605px #f8f7f3, 320px 696px #f8f7f3, 1716px 1019px #f8f7f3,
    518px 902px #f8f7f3, 244px 1471px #f8f7f3, 356px 402px #f8f7f3, 1645px 1551px #f8f7f3,
    1589px 487px #f8f7f3, 415px 251px #f8f7f3, 852px 1720px #f8f7f3, 586px 1407px #f8f7f3,
    1045px 158px #f8f7f3, 1740px 1060px #f8f7f3, 956px 254px #f8f7f3, 291px 720px #f8f7f3,
    384px 949px #f8f7f3, 547px 1075px #f8f7f3, 882px 1987px #f8f7f3, 1271px 688px #f8f7f3,
    1430px 881px #f8f7f3, 67px 505px #f8f7f3, 1148px 1949px #f8f7f3, 255px 56px #f8f7f3,
    623px 1847px #f8f7f3, 155px 771px #f8f7f3, 1991px 1904px #f8f7f3, 1654px 1836px #f8f7f3,
    1459px 1473px #f8f7f3, 1678px 1439px #f8f7f3, 301px 1659px #f8f7f3, 1916px 735px #f8f7f3,
    1792px 967px #f8f7f3, 1023px 360px #f8f7f3, 523px 1401px #f8f7f3, 589px 1655px #f8f7f3,
    174px 160px #f8f7f3, 1305px 1534px #f8f7f3, 1357px 40px #f8f7f3, 8px 308px #f8f7f3,
    335px 1237px #f8f7f3, 725px 973px #f8f7f3;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 752px 394px #f8f7f3, 717px 1352px #f8f7f3, 1188px 875px #f8f7f3,
    1822px 1412px #f8f7f3, 1885px 1471px #f8f7f3, 1751px 1834px #f8f7f3, 582px 837px #f8f7f3,
    1008px 1690px #f8f7f3, 1763px 420px #f8f7f3, 655px 893px #f8f7f3, 694px 1214px #f8f7f3,
    586px 1224px #f8f7f3, 1278px 1940px #f8f7f3, 1234px 1262px #f8f7f3, 583px 252px #f8f7f3,
    500px 1765px #f8f7f3, 183px 743px #f8f7f3, 942px 274px #f8f7f3, 837px 1421px #f8f7f3,
    1189px 1297px #f8f7f3, 1295px 599px #f8f7f3, 228px 973px #f8f7f3, 879px 517px #f8f7f3,
    1809px 1191px #f8f7f3, 1581px 1827px #f8f7f3, 511px 1423px #f8f7f3,
    1918px 1496px #f8f7f3, 105px 192px #f8f7f3, 425px 462px #f8f7f3, 909px 1707px #f8f7f3,
    1480px 238px #f8f7f3, 18px 130px #f8f7f3, 1095px 225px #f8f7f3, 1802px 1038px #f8f7f3,
    1031px 815px #f8f7f3, 418px 1652px #f8f7f3, 442px 1335px #f8f7f3, 1056px 1857px #f8f7f3,
    1592px 768px #f8f7f3, 1628px 1061px #f8f7f3, 987px 1695px #f8f7f3, 1305px 770px #f8f7f3,
    900px 1572px #f8f7f3, 193px 1612px #f8f7f3, 1522px 597px #f8f7f3, 1166px 489px #f8f7f3,
    1362px 623px #f8f7f3, 1574px 27px #f8f7f3, 1077px 584px #f8f7f3, 331px 152px #f8f7f3,
    202px 1444px #f8f7f3, 1163px 1412px #f8f7f3, 1361px 174px #f8f7f3, 868px 1941px #f8f7f3,
    1770px 1747px #f8f7f3, 1356px 780px #f8f7f3, 475px 1298px #f8f7f3, 1002px 1619px #f8f7f3,
    689px 1458px #f8f7f3, 555px 283px #f8f7f3, 782px 540px #f8f7f3, 1427px 1538px #f8f7f3,
    1043px 220px #f8f7f3, 713px 970px #f8f7f3, 726px 452px #f8f7f3, 676px 1406px #f8f7f3,
    1444px 1868px #f8f7f3, 1695px 1057px #f8f7f3, 1378px 1537px #f8f7f3,
    1320px 1833px #f8f7f3, 454px 574px #f8f7f3, 148px 1577px #f8f7f3, 1642px 1485px #f8f7f3,
    91px 1670px #f8f7f3, 617px 79px #f8f7f3, 375px 659px #f8f7f3, 1303px 1913px #f8f7f3,
    898px 851px #f8f7f3, 1789px 1352px #f8f7f3, 1296px 783px #f8f7f3, 66px 350px #f8f7f3,
    1976px 1365px #f8f7f3, 1205px 1436px #f8f7f3, 1274px 254px #f8f7f3,
    1695px 1763px #f8f7f3, 1068px 322px #f8f7f3, 105px 535px #f8f7f3, 17px 1369px #f8f7f3,
    1906px 1689px #f8f7f3, 1909px 996px #f8f7f3, 1778px 833px #f8f7f3, 1352px 814px #f8f7f3,
    1010px 1713px #f8f7f3, 860px 706px #f8f7f3, 1752px 134px #f8f7f3, 883px 1213px #f8f7f3,
    1540px 629px #f8f7f3, 652px 842px #f8f7f3, 878px 1654px #f8f7f3, 1005px 457px #f8f7f3,
    1066px 442px #f8f7f3, 407px 1816px #f8f7f3, 1538px 797px #f8f7f3, 603px 85px #f8f7f3,
    1538px 1118px #f8f7f3, 1682px 172px #f8f7f3, 1738px 1767px #f8f7f3, 1104px 236px #f8f7f3,
    510px 1003px #f8f7f3, 1890px 713px #f8f7f3, 416px 1706px #f8f7f3, 1476px 472px #f8f7f3,
    430px 1087px #f8f7f3, 929px 938px #f8f7f3, 1077px 1410px #f8f7f3, 1478px 1475px #f8f7f3,
    1284px 1638px #f8f7f3, 690px 934px #f8f7f3, 6px 91px #f8f7f3, 350px 797px #f8f7f3,
    1737px 750px #f8f7f3, 1038px 431px #f8f7f3, 422px 1544px #f8f7f3, 562px 849px #f8f7f3,
    76px 871px #f8f7f3, 710px 1280px #f8f7f3, 50px 1268px #f8f7f3, 490px 1089px #f8f7f3,
    1834px 1934px #f8f7f3, 581px 388px #f8f7f3, 1286px 927px #f8f7f3, 1746px 156px #f8f7f3,
    784px 1673px #f8f7f3, 1587px 148px #f8f7f3, 238px 314px #f8f7f3, 1247px 1058px #f8f7f3,
    1116px 1019px #f8f7f3, 1113px 928px #f8f7f3, 1356px 1771px #f8f7f3, 99px 1004px #f8f7f3,
    560px 1671px #f8f7f3, 1249px 1277px #f8f7f3, 613px 1453px #f8f7f3, 1381px 728px #f8f7f3,
    1049px 1228px #f8f7f3, 1231px 1804px #f8f7f3, 1378px 6px #f8f7f3, 483px 856px #f8f7f3,
    370px 1717px #f8f7f3, 155px 699px #f8f7f3, 511px 1115px #f8f7f3, 1307px 1389px #f8f7f3,
    367px 1720px #f8f7f3, 721px 1379px #f8f7f3, 1278px 977px #f8f7f3, 652px 171px #f8f7f3,
    1268px 1552px #f8f7f3, 1279px 370px #f8f7f3, 1812px 1562px #f8f7f3, 15px 720px #f8f7f3,
    1068px 1243px #f8f7f3, 88px 455px #f8f7f3, 1352px 276px #f8f7f3, 773px 1571px #f8f7f3,
    1904px 1188px #f8f7f3, 727px 1031px #f8f7f3, 1086px 828px #f8f7f3, 1081px 1974px #f8f7f3,
    1113px 825px #f8f7f3, 229px 184px #f8f7f3, 1642px 1075px #f8f7f3, 966px 740px #f8f7f3,
    1385px 1441px #f8f7f3, 612px 95px #f8f7f3, 1891px 1198px #f8f7f3, 319px 846px #f8f7f3,
    1038px 714px #f8f7f3, 323px 1552px #f8f7f3, 1399px 120px #f8f7f3, 657px 529px #f8f7f3,
    25px 904px #f8f7f3, 210px 286px #f8f7f3, 1125px 767px #f8f7f3, 805px 602px #f8f7f3,
    1515px 1036px #f8f7f3, 1313px 1325px #f8f7f3, 779px 1148px #f8f7f3, 918px 1051px #f8f7f3,
    1248px 709px #f8f7f3, 385px 1721px #f8f7f3, 322px 383px #f8f7f3, 1455px 56px #f8f7f3,
    1319px 968px #f8f7f3, 790px 1783px #f8f7f3, 32px 280px #f8f7f3, 615px 1130px #f8f7f3,
    1573px 639px #f8f7f3, 1317px 114px #f8f7f3, 220px 1274px #f8f7f3, 1718px 1741px #f8f7f3,
    738px 795px #f8f7f3, 1473px 407px #f8f7f3, 4px 146px #f8f7f3, 1051px 1659px #f8f7f3,
    727px 1802px #f8f7f3, 1586px 1265px #f8f7f3, 978px 712px #f8f7f3, 1302px 1310px #f8f7f3,
    1400px 1347px #f8f7f3, 1071px 1469px #f8f7f3, 1233px 1432px #f8f7f3,
    849px 1810px #f8f7f3, 690px 1310px #f8f7f3, 826px 937px #f8f7f3, 1025px 1537px #f8f7f3,
    961px 274px #f8f7f3, 1516px 1584px #f8f7f3, 238px 306px #f8f7f3, 1675px 41px #f8f7f3,
    1994px 312px #f8f7f3, 947px 335px #f8f7f3, 1375px 980px #f8f7f3, 102px 1418px #f8f7f3,
    1581px 566px #f8f7f3, 1568px 1986px #f8f7f3, 1967px 1704px #f8f7f3, 502px 1180px #f8f7f3,
    1729px 444px #f8f7f3, 1674px 504px #f8f7f3, 455px 693px #f8f7f3, 1916px 1630px #f8f7f3,
    286px 1953px #f8f7f3, 952px 243px #f8f7f3, 591px 1685px #f8f7f3, 1002px 46px #f8f7f3,
    1062px 1274px #f8f7f3, 1804px 1715px #f8f7f3, 178px 1966px #f8f7f3, 54px 1278px #f8f7f3,
    1476px 1221px #f8f7f3, 343px 137px #f8f7f3, 473px 547px #f8f7f3, 1911px 1662px #f8f7f3,
    1667px 767px #f8f7f3, 1314px 423px #f8f7f3, 15px 1187px #f8f7f3, 1102px 662px #f8f7f3,
    1174px 1459px #f8f7f3, 1858px 494px #f8f7f3, 411px 1705px #f8f7f3, 1372px 262px #f8f7f3,
    692px 1523px #f8f7f3, 463px 1762px #f8f7f3, 512px 1766px #f8f7f3, 367px 676px #f8f7f3,
    1141px 570px #f8f7f3, 1265px 1801px #f8f7f3, 1407px 33px #f8f7f3, 627px 603px #f8f7f3,
    1089px 1085px #f8f7f3, 1820px 644px #f8f7f3, 983px 1377px #f8f7f3, 1811px 394px #f8f7f3,
    196px 718px #f8f7f3, 79px 480px #f8f7f3, 1435px 674px #f8f7f3, 1904px 1623px #f8f7f3,
    1125px 385px #f8f7f3, 1116px 587px #f8f7f3, 1608px 862px #f8f7f3, 1178px 862px #f8f7f3,
    832px 1304px #f8f7f3, 1620px 1695px #f8f7f3, 1794px 1839px #f8f7f3, 1569px 360px #f8f7f3,
    820px 1629px #f8f7f3, 87px 773px #f8f7f3, 1187px 42px #f8f7f3, 914px 836px #f8f7f3,
    260px 591px #f8f7f3, 1463px 1702px #f8f7f3, 1466px 1550px #f8f7f3, 1210px 841px #f8f7f3,
    987px 1216px #f8f7f3, 451px 1572px #f8f7f3, 1993px 1844px #f8f7f3, 1037px 1834px #f8f7f3,
    1218px 6px #f8f7f3, 373px 1124px #f8f7f3, 406px 1141px #f8f7f3, 111px 400px #f8f7f3,
    1077px 1653px #f8f7f3, 1806px 1899px #f8f7f3, 1431px 1580px #f8f7f3,
    1092px 454px #f8f7f3, 1598px 1379px #f8f7f3, 695px 1160px #f8f7f3, 1186px 1398px #f8f7f3,
    1106px 1912px #f8f7f3, 86px 1899px #f8f7f3, 478px 1344px #f8f7f3, 601px 164px #f8f7f3,
    979px 1208px #f8f7f3, 1672px 1955px #f8f7f3, 1668px 189px #f8f7f3, 1358px 1905px #f8f7f3,
    512px 453px #f8f7f3, 1123px 764px #f8f7f3, 126px 481px #f8f7f3, 1554px 422px #f8f7f3,
    1893px 1032px #f8f7f3, 1547px 41px #f8f7f3, 416px 1716px #f8f7f3, 1598px 1068px #f8f7f3,
    308px 823px #f8f7f3, 17px 1529px #f8f7f3, 775px 1452px #f8f7f3, 947px 5px #f8f7f3,
    1732px 1040px #f8f7f3, 202px 1834px #f8f7f3, 1913px 1795px #f8f7f3, 902px 622px #f8f7f3,
    74px 1645px #f8f7f3, 443px 1308px #f8f7f3, 1396px 1526px #f8f7f3, 769px 1715px #f8f7f3,
    698px 1271px #f8f7f3, 1640px 271px #f8f7f3, 802px 729px #f8f7f3, 674px 1397px #f8f7f3,
    170px 37px #f8f7f3, 1816px 552px #f8f7f3, 1777px 1891px #f8f7f3, 1808px 894px #f8f7f3,
    1521px 1852px #f8f7f3, 1886px 1005px #f8f7f3, 1168px 391px #f8f7f3,
    1713px 1429px #f8f7f3, 275px 537px #f8f7f3, 940px 685px #f8f7f3, 225px 1269px #f8f7f3,
    1338px 201px #f8f7f3, 460px 332px #f8f7f3, 473px 1866px #f8f7f3, 876px 450px #f8f7f3,
    95px 617px #f8f7f3, 1519px 385px #f8f7f3, 468px 389px #f8f7f3, 1564px 1890px #f8f7f3,
    1792px 1350px #f8f7f3, 864px 940px #f8f7f3, 1181px 636px #f8f7f3, 700px 1136px #f8f7f3,
    161px 796px #f8f7f3, 1350px 124px #f8f7f3, 577px 1090px #f8f7f3, 574px 1261px #f8f7f3,
    1033px 1231px #f8f7f3, 1085px 1157px #f8f7f3, 789px 963px #f8f7f3, 78px 309px #f8f7f3,
    1222px 1488px #f8f7f3, 312px 739px #f8f7f3, 1141px 408px #f8f7f3, 1076px 175px #f8f7f3,
    1511px 1128px #f8f7f3, 763px 1869px #f8f7f3, 1012px 994px #f8f7f3, 250px 1528px #f8f7f3,
    680px 1982px #f8f7f3, 1079px 777px #f8f7f3, 1883px 164px #f8f7f3, 589px 528px #f8f7f3,
    1176px 240px #f8f7f3, 66px 1350px #f8f7f3, 730px 542px #f8f7f3, 934px 390px #f8f7f3,
    374px 1180px #f8f7f3, 1179px 1192px #f8f7f3, 395px 166px #f8f7f3, 552px 215px #f8f7f3,
    1144px 994px #f8f7f3, 1017px 329px #f8f7f3, 820px 1844px #f8f7f3, 837px 779px #f8f7f3,
    1112px 485px #f8f7f3, 210px 1811px #f8f7f3, 1304px 500px #f8f7f3, 528px 1704px #f8f7f3,
    699px 1936px #f8f7f3, 520px 929px #f8f7f3, 633px 1660px #f8f7f3, 1255px 1561px #f8f7f3,
    48px 920px #f8f7f3, 1807px 732px #f8f7f3, 387px 861px #f8f7f3, 382px 189px #f8f7f3,
    289px 1567px #f8f7f3, 1945px 1156px #f8f7f3, 26px 126px #f8f7f3, 1212px 1828px #f8f7f3,
    1780px 1768px #f8f7f3, 1809px 917px #f8f7f3, 586px 1271px #f8f7f3, 695px 1975px #f8f7f3,
    1577px 386px #f8f7f3, 1225px 1190px #f8f7f3, 1302px 1602px #f8f7f3,
    1123px 1148px #f8f7f3, 1201px 503px #f8f7f3, 691px 150px #f8f7f3, 5px 1625px #f8f7f3,
    1290px 1805px #f8f7f3, 790px 1911px #f8f7f3, 128px 1647px #f8f7f3, 1295px 1965px #f8f7f3,
    1466px 876px #f8f7f3, 1823px 1426px #f8f7f3, 1739px 1550px #f8f7f3, 1806px 506px #f8f7f3,
    712px 79px #f8f7f3, 1247px 40px #f8f7f3, 242px 1273px #f8f7f3, 920px 982px #f8f7f3,
    525px 476px #f8f7f3, 1620px 1565px #f8f7f3, 919px 197px #f8f7f3, 1613px 1760px #f8f7f3,
    605px 1688px #f8f7f3, 682px 476px #f8f7f3, 941px 1167px #f8f7f3, 1764px 1212px #f8f7f3,
    450px 731px #f8f7f3, 1860px 1744px #f8f7f3, 1562px 226px #f8f7f3, 743px 581px #f8f7f3,
    866px 274px #f8f7f3, 1247px 580px #f8f7f3, 708px 1598px #f8f7f3, 174px 1987px #f8f7f3,
    287px 1888px #f8f7f3, 1449px 1114px #f8f7f3, 977px 1405px #f8f7f3, 220px 1012px #f8f7f3,
    1360px 193px #f8f7f3, 817px 1857px #f8f7f3, 92px 275px #f8f7f3, 1479px 1605px #f8f7f3,
    887px 1256px #f8f7f3, 148px 467px #f8f7f3, 1905px 227px #f8f7f3, 1056px 950px #f8f7f3,
    776px 1064px #f8f7f3, 249px 1572px #f8f7f3, 666px 319px #f8f7f3, 914px 1928px #f8f7f3,
    650px 766px #f8f7f3, 208px 682px #f8f7f3, 1917px 1834px #f8f7f3, 789px 1934px #f8f7f3,
    1554px 518px #f8f7f3, 351px 716px #f8f7f3, 1816px 705px #f8f7f3, 69px 89px #f8f7f3,
    1710px 639px #f8f7f3, 1793px 391px #f8f7f3, 1795px 122px #f8f7f3, 1123px 792px #f8f7f3,
    1654px 1615px #f8f7f3, 1598px 527px #f8f7f3, 183px 1844px #f8f7f3, 924px 1163px #f8f7f3,
    1967px 722px #f8f7f3, 745px 699px #f8f7f3, 711px 1197px #f8f7f3, 1302px 717px #f8f7f3,
    309px 1849px #f8f7f3, 1609px 1315px #f8f7f3, 1148px 1938px #f8f7f3, 605px 1639px #f8f7f3,
    1277px 693px #f8f7f3, 493px 1768px #f8f7f3, 761px 1891px #f8f7f3, 473px 1331px #f8f7f3,
    478px 587px #f8f7f3, 1118px 1979px #f8f7f3, 523px 1754px #f8f7f3, 854px 497px #f8f7f3,
    1640px 1507px #f8f7f3, 42px 182px #f8f7f3, 276px 1701px #f8f7f3, 172px 17px #f8f7f3,
    140px 1893px #f8f7f3, 669px 1370px #f8f7f3, 969px 750px #f8f7f3, 1407px 1561px #f8f7f3,
    1767px 1837px #f8f7f3, 931px 454px #f8f7f3, 1480px 32px #f8f7f3, 237px 997px #f8f7f3,
    74px 257px #f8f7f3, 31px 899px #f8f7f3, 855px 908px #f8f7f3, 1169px 1592px #f8f7f3,
    1493px 221px #f8f7f3, 858px 1881px #f8f7f3, 1174px 1068px #f8f7f3, 1965px 848px #f8f7f3,
    659px 1719px #f8f7f3, 1607px 968px #f8f7f3, 967px 1787px #f8f7f3, 124px 1763px #f8f7f3,
    353px 111px #f8f7f3, 599px 241px #f8f7f3, 328px 1547px #f8f7f3, 279px 1331px #f8f7f3,
    1406px 505px #f8f7f3, 1584px 1105px #f8f7f3, 1629px 1429px #f8f7f3,
    1882px 1805px #f8f7f3, 1631px 1591px #f8f7f3, 1065px 1679px #f8f7f3,
    894px 1999px #f8f7f3, 1995px 1936px #f8f7f3, 270px 483px #f8f7f3, 1615px 1343px #f8f7f3,
    1918px 801px #f8f7f3, 1646px 273px #f8f7f3, 1842px 1223px #f8f7f3, 1415px 1447px #f8f7f3,
    476px 534px #f8f7f3, 339px 1764px #f8f7f3, 1074px 1555px #f8f7f3, 1426px 1043px #f8f7f3,
    1481px 1401px #f8f7f3, 524px 1943px #f8f7f3, 580px 1073px #f8f7f3, 852px 1766px #f8f7f3,
    1750px 640px #f8f7f3, 1754px 421px #f8f7f3, 456px 152px #f8f7f3, 977px 591px #f8f7f3,
    1600px 1537px #f8f7f3, 1455px 854px #f8f7f3, 701px 856px #f8f7f3, 1078px 1857px #f8f7f3,
    1491px 1755px #f8f7f3, 739px 370px #f8f7f3, 952px 1648px #f8f7f3, 1973px 1763px #f8f7f3,
    988px 687px #f8f7f3, 1136px 665px #f8f7f3, 1148px 204px #f8f7f3, 290px 845px #f8f7f3,
    1784px 1334px #f8f7f3, 159px 760px #f8f7f3, 1260px 1815px #f8f7f3, 933px 1443px #f8f7f3,
    155px 865px #f8f7f3, 30px 339px #f8f7f3, 1646px 375px #f8f7f3, 584px 980px #f8f7f3,
    507px 1940px #f8f7f3, 1630px 1858px #f8f7f3, 318px 989px #f8f7f3, 317px 1036px #f8f7f3,
    992px 1540px #f8f7f3, 1849px 1703px #f8f7f3, 757px 1332px #f8f7f3, 1706px 1579px #f8f7f3,
    1259px 1933px #f8f7f3, 742px 1835px #f8f7f3, 1775px 1390px #f8f7f3, 449px 1698px #f8f7f3,
    1393px 1935px #f8f7f3, 436px 1958px #f8f7f3, 1355px 1722px #f8f7f3, 416px 1223px #f8f7f3,
    35px 1602px #f8f7f3, 1015px 754px #f8f7f3, 330px 1114px #f8f7f3, 1782px 1406px #f8f7f3,
    472px 1513px #f8f7f3, 1464px 34px #f8f7f3, 965px 799px #f8f7f3, 1287px 762px #f8f7f3,
    521px 1942px #f8f7f3, 368px 1022px #f8f7f3, 233px 1094px #f8f7f3, 1259px 1052px #f8f7f3,
    1361px 578px #f8f7f3, 723px 226px #f8f7f3, 1235px 926px #f8f7f3, 1973px 1523px #f8f7f3,
    1595px 1093px #f8f7f3, 1235px 1968px #f8f7f3, 103px 61px #f8f7f3, 24px 1612px #f8f7f3,
    55px 223px #f8f7f3, 1548px 519px #f8f7f3, 871px 1311px #f8f7f3, 1165px 930px #f8f7f3,
    1439px 1127px #f8f7f3, 284px 1428px #f8f7f3, 1886px 724px #f8f7f3, 795px 893px #f8f7f3,
    1797px 1437px #f8f7f3, 228px 1842px #f8f7f3, 1463px 1315px #f8f7f3, 948px 140px #f8f7f3,
    922px 1851px #f8f7f3, 1064px 1491px #f8f7f3, 353px 991px #f8f7f3, 1432px 909px #f8f7f3,
    1080px 678px #f8f7f3, 982px 1376px #f8f7f3, 1819px 725px #f8f7f3, 1832px 885px #f8f7f3,
    1154px 8px #f8f7f3, 1999px 1360px #f8f7f3, 948px 737px #f8f7f3, 218px 215px #f8f7f3,
    1541px 1898px #f8f7f3, 90px 751px #f8f7f3, 1132px 1491px #f8f7f3, 1761px 185px #f8f7f3,
    650px 818px #f8f7f3, 654px 1724px #f8f7f3, 581px 825px #f8f7f3, 1016px 772px #f8f7f3,
    401px 23px #f8f7f3, 1217px 380px #f8f7f3, 1630px 1020px #f8f7f3, 251px 39px #f8f7f3,
    1195px 1493px #f8f7f3, 1784px 1288px #f8f7f3, 1347px 1014px #f8f7f3, 108px 845px #f8f7f3,
    909px 315px #f8f7f3, 1344px 1331px #f8f7f3, 449px 691px #f8f7f3, 1708px 1586px #f8f7f3,
    336px 384px #f8f7f3, 1211px 1103px #f8f7f3, 1086px 761px #f8f7f3, 477px 236px #f8f7f3,
    156px 1869px #f8f7f3, 749px 1029px #f8f7f3, 713px 888px #f8f7f3, 53px 1763px #f8f7f3,
    1095px 1707px #f8f7f3, 1492px 1377px #f8f7f3, 1226px 516px #f8f7f3, 196px 1263px #f8f7f3,
    48px 845px #f8f7f3, 1242px 1161px #f8f7f3, 223px 525px #f8f7f3, 1008px 28px #f8f7f3,
    1987px 1996px #f8f7f3, 1482px 605px #f8f7f3, 320px 696px #f8f7f3, 1716px 1019px #f8f7f3,
    518px 902px #f8f7f3, 244px 1471px #f8f7f3, 356px 402px #f8f7f3, 1645px 1551px #f8f7f3,
    1589px 487px #f8f7f3, 415px 251px #f8f7f3, 852px 1720px #f8f7f3, 586px 1407px #f8f7f3,
    1045px 158px #f8f7f3, 1740px 1060px #f8f7f3, 956px 254px #f8f7f3, 291px 720px #f8f7f3,
    384px 949px #f8f7f3, 547px 1075px #f8f7f3, 882px 1987px #f8f7f3, 1271px 688px #f8f7f3,
    1430px 881px #f8f7f3, 67px 505px #f8f7f3, 1148px 1949px #f8f7f3, 255px 56px #f8f7f3,
    623px 1847px #f8f7f3, 155px 771px #f8f7f3, 1991px 1904px #f8f7f3, 1654px 1836px #f8f7f3,
    1459px 1473px #f8f7f3, 1678px 1439px #f8f7f3, 301px 1659px #f8f7f3, 1916px 735px #f8f7f3,
    1792px 967px #f8f7f3, 1023px 360px #f8f7f3, 523px 1401px #f8f7f3, 589px 1655px #f8f7f3,
    174px 160px #f8f7f3, 1305px 1534px #f8f7f3, 1357px 40px #f8f7f3, 8px 308px #f8f7f3,
    335px 1237px #f8f7f3, 725px 973px #f8f7f3;
}

#stars2 {
  left: 0;
  position: absolute;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 674px 1226px #f8f7f3, 1477px 716px #f8f7f3, 1107px 1208px #f8f7f3,
    65px 1652px #f8f7f3, 1505px 1430px #f8f7f3, 164px 1927px #f8f7f3, 798px 1230px #f8f7f3,
    1040px 1641px #f8f7f3, 1241px 974px #f8f7f3, 892px 851px #f8f7f3, 621px 1795px #f8f7f3,
    66px 315px #f8f7f3, 428px 1329px #f8f7f3, 601px 466px #f8f7f3, 423px 1891px #f8f7f3,
    154px 1191px #f8f7f3, 468px 1312px #f8f7f3, 1188px 1055px #f8f7f3, 828px 15px #f8f7f3,
    1511px 1897px #f8f7f3, 1377px 1605px #f8f7f3, 1959px 722px #f8f7f3, 298px 947px #f8f7f3,
    1742px 1993px #f8f7f3, 987px 505px #f8f7f3, 254px 744px #f8f7f3, 861px 244px #f8f7f3,
    825px 627px #f8f7f3, 535px 1543px #f8f7f3, 1599px 286px #f8f7f3, 1039px 144px #f8f7f3,
    627px 1326px #f8f7f3, 1190px 1103px #f8f7f3, 1760px 736px #f8f7f3, 1994px 153px #f8f7f3,
    1676px 1113px #f8f7f3, 24px 736px #f8f7f3, 549px 1448px #f8f7f3, 187px 205px #f8f7f3,
    286px 539px #f8f7f3, 361px 362px #f8f7f3, 1646px 263px #f8f7f3, 677px 294px #f8f7f3,
    1510px 1380px #f8f7f3, 1190px 151px #f8f7f3, 781px 890px #f8f7f3, 1061px 1679px #f8f7f3,
    1988px 704px #f8f7f3, 1746px 860px #f8f7f3, 1764px 1412px #f8f7f3, 1595px 548px #f8f7f3,
    724px 41px #f8f7f3, 34px 1110px #f8f7f3, 1350px 1325px #f8f7f3, 697px 1985px #f8f7f3,
    1717px 341px #f8f7f3, 959px 555px #f8f7f3, 372px 660px #f8f7f3, 1306px 1574px #f8f7f3,
    943px 349px #f8f7f3, 1659px 902px #f8f7f3, 1025px 1269px #f8f7f3, 1398px 990px #f8f7f3,
    1155px 1554px #f8f7f3, 1955px 511px #f8f7f3, 1172px 1438px #f8f7f3, 154px 1183px #f8f7f3,
    41px 1503px #f8f7f3, 602px 903px #f8f7f3, 64px 801px #f8f7f3, 1983px 271px #f8f7f3,
    385px 1395px #f8f7f3, 351px 265px #f8f7f3, 407px 1059px #f8f7f3, 1721px 1261px #f8f7f3,
    694px 338px #f8f7f3, 441px 510px #f8f7f3, 1526px 1148px #f8f7f3, 1590px 968px #f8f7f3,
    1157px 1742px #f8f7f3, 848px 794px #f8f7f3, 291px 1070px #f8f7f3, 965px 835px #f8f7f3,
    404px 541px #f8f7f3, 111px 1430px #f8f7f3, 949px 1257px #f8f7f3, 1002px 223px #f8f7f3,
    1474px 632px #f8f7f3, 1205px 177px #f8f7f3, 1315px 829px #f8f7f3, 286px 1282px #f8f7f3,
    604px 1072px #f8f7f3, 664px 329px #f8f7f3, 138px 1777px #f8f7f3, 480px 256px #f8f7f3,
    1369px 793px #f8f7f3, 614px 949px #f8f7f3, 163px 1695px #f8f7f3, 1812px 682px #f8f7f3,
    358px 390px #f8f7f3, 640px 1278px #f8f7f3, 791px 354px #f8f7f3, 1569px 367px #f8f7f3,
    396px 590px #f8f7f3, 895px 262px #f8f7f3, 268px 1832px #f8f7f3, 329px 1978px #f8f7f3,
    949px 1101px #f8f7f3, 470px 518px #f8f7f3, 198px 1985px #f8f7f3, 1716px 1475px #f8f7f3,
    1431px 205px #f8f7f3, 32px 716px #f8f7f3, 666px 1498px #f8f7f3, 236px 223px #f8f7f3,
    413px 1600px #f8f7f3, 1664px 1747px #f8f7f3, 943px 127px #f8f7f3, 512px 1748px #f8f7f3,
    1017px 816px #f8f7f3, 1856px 1013px #f8f7f3, 798px 1444px #f8f7f3, 403px 1894px #f8f7f3,
    1653px 1689px #f8f7f3, 1381px 1246px #f8f7f3, 1749px 953px #f8f7f3, 1538px 100px #f8f7f3,
    846px 1740px #f8f7f3, 1558px 802px #f8f7f3, 521px 1897px #f8f7f3, 1480px 1745px #f8f7f3,
    918px 1400px #f8f7f3, 674px 36px #f8f7f3, 1094px 708px #f8f7f3, 430px 663px #f8f7f3,
    367px 289px #f8f7f3, 514px 1729px #f8f7f3, 915px 1423px #f8f7f3, 70px 1988px #f8f7f3,
    63px 451px #f8f7f3, 514px 661px #f8f7f3, 471px 1960px #f8f7f3, 1223px 1563px #f8f7f3,
    576px 1618px #f8f7f3, 1276px 1471px #f8f7f3, 1874px 1131px #f8f7f3, 385px 73px #f8f7f3,
    390px 1264px #f8f7f3, 997px 340px #f8f7f3, 1239px 1154px #f8f7f3, 201px 441px #f8f7f3,
    174px 1321px #f8f7f3, 1124px 174px #f8f7f3, 89px 1680px #f8f7f3, 275px 1388px #f8f7f3,
    1196px 591px #f8f7f3, 547px 494px #f8f7f3, 1291px 569px #f8f7f3, 713px 1339px #f8f7f3,
    984px 1044px #f8f7f3, 1532px 1731px #f8f7f3, 1437px 1323px #f8f7f3, 868px 1144px #f8f7f3,
    683px 910px #f8f7f3, 468px 1903px #f8f7f3, 1811px 120px #f8f7f3, 45px 732px #f8f7f3,
    1160px 1395px #f8f7f3, 340px 493px #f8f7f3, 1985px 497px #f8f7f3, 598px 1730px #f8f7f3,
    1018px 1975px #f8f7f3, 1132px 1765px #f8f7f3, 359px 1854px #f8f7f3, 1449px 857px #f8f7f3,
    1058px 1305px #f8f7f3, 1438px 1778px #f8f7f3, 371px 1919px #f8f7f3, 489px 1271px #f8f7f3,
    1808px 89px #f8f7f3, 574px 1768px #f8f7f3, 705px 73px #f8f7f3, 647px 1868px #f8f7f3,
    1177px 1799px #f8f7f3, 285px 523px #f8f7f3, 749px 1610px #f8f7f3, 571px 460px #f8f7f3,
    65px 1927px #f8f7f3, 849px 4px #f8f7f3, 805px 1328px #f8f7f3, 233px 1966px #f8f7f3,
    639px 589px #f8f7f3, 812px 607px #f8f7f3, 1543px 799px #f8f7f3, 31px 730px #f8f7f3,
    106px 1032px #f8f7f3, 1549px 1364px #f8f7f3, 332px 989px #f8f7f3, 328px 1324px #f8f7f3,
    225px 295px #f8f7f3;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 674px 1226px #f8f7f3, 1477px 716px #f8f7f3, 1107px 1208px #f8f7f3,
    65px 1652px #f8f7f3, 1505px 1430px #f8f7f3, 164px 1927px #f8f7f3, 798px 1230px #f8f7f3,
    1040px 1641px #f8f7f3, 1241px 974px #f8f7f3, 892px 851px #f8f7f3, 621px 1795px #f8f7f3,
    66px 315px #f8f7f3, 428px 1329px #f8f7f3, 601px 466px #f8f7f3, 423px 1891px #f8f7f3,
    154px 1191px #f8f7f3, 468px 1312px #f8f7f3, 1188px 1055px #f8f7f3, 828px 15px #f8f7f3,
    1511px 1897px #f8f7f3, 1377px 1605px #f8f7f3, 1959px 722px #f8f7f3, 298px 947px #f8f7f3,
    1742px 1993px #f8f7f3, 987px 505px #f8f7f3, 254px 744px #f8f7f3, 861px 244px #f8f7f3,
    825px 627px #f8f7f3, 535px 1543px #f8f7f3, 1599px 286px #f8f7f3, 1039px 144px #f8f7f3,
    627px 1326px #f8f7f3, 1190px 1103px #f8f7f3, 1760px 736px #f8f7f3, 1994px 153px #f8f7f3,
    1676px 1113px #f8f7f3, 24px 736px #f8f7f3, 549px 1448px #f8f7f3, 187px 205px #f8f7f3,
    286px 539px #f8f7f3, 361px 362px #f8f7f3, 1646px 263px #f8f7f3, 677px 294px #f8f7f3,
    1510px 1380px #f8f7f3, 1190px 151px #f8f7f3, 781px 890px #f8f7f3, 1061px 1679px #f8f7f3,
    1988px 704px #f8f7f3, 1746px 860px #f8f7f3, 1764px 1412px #f8f7f3, 1595px 548px #f8f7f3,
    724px 41px #f8f7f3, 34px 1110px #f8f7f3, 1350px 1325px #f8f7f3, 697px 1985px #f8f7f3,
    1717px 341px #f8f7f3, 959px 555px #f8f7f3, 372px 660px #f8f7f3, 1306px 1574px #f8f7f3,
    943px 349px #f8f7f3, 1659px 902px #f8f7f3, 1025px 1269px #f8f7f3, 1398px 990px #f8f7f3,
    1155px 1554px #f8f7f3, 1955px 511px #f8f7f3, 1172px 1438px #f8f7f3, 154px 1183px #f8f7f3,
    41px 1503px #f8f7f3, 602px 903px #f8f7f3, 64px 801px #f8f7f3, 1983px 271px #f8f7f3,
    385px 1395px #f8f7f3, 351px 265px #f8f7f3, 407px 1059px #f8f7f3, 1721px 1261px #f8f7f3,
    694px 338px #f8f7f3, 441px 510px #f8f7f3, 1526px 1148px #f8f7f3, 1590px 968px #f8f7f3,
    1157px 1742px #f8f7f3, 848px 794px #f8f7f3, 291px 1070px #f8f7f3, 965px 835px #f8f7f3,
    404px 541px #f8f7f3, 111px 1430px #f8f7f3, 949px 1257px #f8f7f3, 1002px 223px #f8f7f3,
    1474px 632px #f8f7f3, 1205px 177px #f8f7f3, 1315px 829px #f8f7f3, 286px 1282px #f8f7f3,
    604px 1072px #f8f7f3, 664px 329px #f8f7f3, 138px 1777px #f8f7f3, 480px 256px #f8f7f3,
    1369px 793px #f8f7f3, 614px 949px #f8f7f3, 163px 1695px #f8f7f3, 1812px 682px #f8f7f3,
    358px 390px #f8f7f3, 640px 1278px #f8f7f3, 791px 354px #f8f7f3, 1569px 367px #f8f7f3,
    396px 590px #f8f7f3, 895px 262px #f8f7f3, 268px 1832px #f8f7f3, 329px 1978px #f8f7f3,
    949px 1101px #f8f7f3, 470px 518px #f8f7f3, 198px 1985px #f8f7f3, 1716px 1475px #f8f7f3,
    1431px 205px #f8f7f3, 32px 716px #f8f7f3, 666px 1498px #f8f7f3, 236px 223px #f8f7f3,
    413px 1600px #f8f7f3, 1664px 1747px #f8f7f3, 943px 127px #f8f7f3, 512px 1748px #f8f7f3,
    1017px 816px #f8f7f3, 1856px 1013px #f8f7f3, 798px 1444px #f8f7f3, 403px 1894px #f8f7f3,
    1653px 1689px #f8f7f3, 1381px 1246px #f8f7f3, 1749px 953px #f8f7f3, 1538px 100px #f8f7f3,
    846px 1740px #f8f7f3, 1558px 802px #f8f7f3, 521px 1897px #f8f7f3, 1480px 1745px #f8f7f3,
    918px 1400px #f8f7f3, 674px 36px #f8f7f3, 1094px 708px #f8f7f3, 430px 663px #f8f7f3,
    367px 289px #f8f7f3, 514px 1729px #f8f7f3, 915px 1423px #f8f7f3, 70px 1988px #f8f7f3,
    63px 451px #f8f7f3, 514px 661px #f8f7f3, 471px 1960px #f8f7f3, 1223px 1563px #f8f7f3,
    576px 1618px #f8f7f3, 1276px 1471px #f8f7f3, 1874px 1131px #f8f7f3, 385px 73px #f8f7f3,
    390px 1264px #f8f7f3, 997px 340px #f8f7f3, 1239px 1154px #f8f7f3, 201px 441px #f8f7f3,
    174px 1321px #f8f7f3, 1124px 174px #f8f7f3, 89px 1680px #f8f7f3, 275px 1388px #f8f7f3,
    1196px 591px #f8f7f3, 547px 494px #f8f7f3, 1291px 569px #f8f7f3, 713px 1339px #f8f7f3,
    984px 1044px #f8f7f3, 1532px 1731px #f8f7f3, 1437px 1323px #f8f7f3, 868px 1144px #f8f7f3,
    683px 910px #f8f7f3, 468px 1903px #f8f7f3, 1811px 120px #f8f7f3, 45px 732px #f8f7f3,
    1160px 1395px #f8f7f3, 340px 493px #f8f7f3, 1985px 497px #f8f7f3, 598px 1730px #f8f7f3,
    1018px 1975px #f8f7f3, 1132px 1765px #f8f7f3, 359px 1854px #f8f7f3, 1449px 857px #f8f7f3,
    1058px 1305px #f8f7f3, 1438px 1778px #f8f7f3, 371px 1919px #f8f7f3, 489px 1271px #f8f7f3,
    1808px 89px #f8f7f3, 574px 1768px #f8f7f3, 705px 73px #f8f7f3, 647px 1868px #f8f7f3,
    1177px 1799px #f8f7f3, 285px 523px #f8f7f3, 749px 1610px #f8f7f3, 571px 460px #f8f7f3,
    65px 1927px #f8f7f3, 849px 4px #f8f7f3, 805px 1328px #f8f7f3, 233px 1966px #f8f7f3,
    639px 589px #f8f7f3, 812px 607px #f8f7f3, 1543px 799px #f8f7f3, 31px 730px #f8f7f3,
    106px 1032px #f8f7f3, 1549px 1364px #f8f7f3, 332px 989px #f8f7f3, 328px 1324px #f8f7f3,
    225px 295px #f8f7f3;
}

#stars3 {
  left: 0;
  position: absolute;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1519px 1541px #f8f7f3, 1518px 850px #f8f7f3, 456px 1263px #f8f7f3,
    1128px 1657px #f8f7f3, 1455px 1889px #f8f7f3, 218px 1716px #f8f7f3, 293px 187px #f8f7f3,
    717px 1805px #f8f7f3, 1014px 714px #f8f7f3, 1914px 187px #f8f7f3, 1556px 1346px #f8f7f3,
    367px 1246px #f8f7f3, 608px 547px #f8f7f3, 1986px 1203px #f8f7f3, 1597px 1961px #f8f7f3,
    1150px 1571px #f8f7f3, 1607px 1635px #f8f7f3, 1606px 1115px #f8f7f3, 571px 370px #f8f7f3,
    1871px 1932px #f8f7f3, 1793px 1408px #f8f7f3, 1340px 1856px #f8f7f3, 594px 578px #f8f7f3,
    1926px 228px #f8f7f3, 887px 1750px #f8f7f3, 891px 1317px #f8f7f3, 833px 141px #f8f7f3,
    1895px 433px #f8f7f3, 1334px 1169px #f8f7f3, 116px 807px #f8f7f3, 389px 916px #f8f7f3,
    337px 1050px #f8f7f3, 274px 621px #f8f7f3, 87px 1132px #f8f7f3, 1294px 1484px #f8f7f3,
    1309px 1641px #f8f7f3, 1737px 570px #f8f7f3, 1074px 180px #f8f7f3, 10px 1726px #f8f7f3,
    909px 1510px #f8f7f3, 613px 633px #f8f7f3, 1086px 694px #f8f7f3, 1459px 889px #f8f7f3,
    1179px 540px #f8f7f3, 861px 1410px #f8f7f3, 185px 1750px #f8f7f3, 98px 1947px #f8f7f3,
    1692px 270px #f8f7f3, 610px 78px #f8f7f3, 1427px 1947px #f8f7f3, 72px 245px #f8f7f3,
    679px 483px #f8f7f3, 1052px 369px #f8f7f3, 625px 540px #f8f7f3, 1535px 1655px #f8f7f3,
    720px 1411px #f8f7f3, 1483px 765px #f8f7f3, 1751px 1674px #f8f7f3, 1116px 460px #f8f7f3,
    527px 1976px #f8f7f3, 1465px 1124px #f8f7f3, 795px 471px #f8f7f3, 562px 1598px #f8f7f3,
    1554px 55px #f8f7f3, 254px 1757px #f8f7f3, 1865px 615px #f8f7f3, 1615px 1676px #f8f7f3,
    1899px 1309px #f8f7f3, 839px 1933px #f8f7f3, 432px 496px #f8f7f3, 666px 1337px #f8f7f3,
    614px 721px #f8f7f3, 1696px 1672px #f8f7f3, 130px 470px #f8f7f3, 1699px 1841px #f8f7f3,
    1237px 1524px #f8f7f3, 1709px 712px #f8f7f3, 1372px 807px #f8f7f3, 1427px 481px #f8f7f3,
    1840px 356px #f8f7f3, 1732px 1768px #f8f7f3, 1836px 1481px #f8f7f3, 714px 629px #f8f7f3,
    750px 1656px #f8f7f3, 480px 1987px #f8f7f3, 1759px 1090px #f8f7f3, 508px 266px #f8f7f3,
    817px 767px #f8f7f3, 879px 181px #f8f7f3, 184px 1309px #f8f7f3, 1947px 1861px #f8f7f3,
    242px 948px #f8f7f3, 961px 750px #f8f7f3, 798px 921px #f8f7f3, 1350px 1729px #f8f7f3,
    1848px 74px #f8f7f3, 1707px 233px #f8f7f3, 342px 1215px #f8f7f3, 70px 308px #f8f7f3,
    449px 1895px #f8f7f3;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1519px 1541px #f8f7f3, 1518px 850px #f8f7f3, 456px 1263px #f8f7f3,
    1128px 1657px #f8f7f3, 1455px 1889px #f8f7f3, 218px 1716px #f8f7f3, 293px 187px #f8f7f3,
    717px 1805px #f8f7f3, 1014px 714px #f8f7f3, 1914px 187px #f8f7f3, 1556px 1346px #f8f7f3,
    367px 1246px #f8f7f3, 608px 547px #f8f7f3, 1986px 1203px #f8f7f3, 1597px 1961px #f8f7f3,
    1150px 1571px #f8f7f3, 1607px 1635px #f8f7f3, 1606px 1115px #f8f7f3, 571px 370px #f8f7f3,
    1871px 1932px #f8f7f3, 1793px 1408px #f8f7f3, 1340px 1856px #f8f7f3, 594px 578px #f8f7f3,
    1926px 228px #f8f7f3, 887px 1750px #f8f7f3, 891px 1317px #f8f7f3, 833px 141px #f8f7f3,
    1895px 433px #f8f7f3, 1334px 1169px #f8f7f3, 116px 807px #f8f7f3, 389px 916px #f8f7f3,
    337px 1050px #f8f7f3, 274px 621px #f8f7f3, 87px 1132px #f8f7f3, 1294px 1484px #f8f7f3,
    1309px 1641px #f8f7f3, 1737px 570px #f8f7f3, 1074px 180px #f8f7f3, 10px 1726px #f8f7f3,
    909px 1510px #f8f7f3, 613px 633px #f8f7f3, 1086px 694px #f8f7f3, 1459px 889px #f8f7f3,
    1179px 540px #f8f7f3, 861px 1410px #f8f7f3, 185px 1750px #f8f7f3, 98px 1947px #f8f7f3,
    1692px 270px #f8f7f3, 610px 78px #f8f7f3, 1427px 1947px #f8f7f3, 72px 245px #f8f7f3,
    679px 483px #f8f7f3, 1052px 369px #f8f7f3, 625px 540px #f8f7f3, 1535px 1655px #f8f7f3,
    720px 1411px #f8f7f3, 1483px 765px #f8f7f3, 1751px 1674px #f8f7f3, 1116px 460px #f8f7f3,
    527px 1976px #f8f7f3, 1465px 1124px #f8f7f3, 795px 471px #f8f7f3, 562px 1598px #f8f7f3,
    1554px 55px #f8f7f3, 254px 1757px #f8f7f3, 1865px 615px #f8f7f3, 1615px 1676px #f8f7f3,
    1899px 1309px #f8f7f3, 839px 1933px #f8f7f3, 432px 496px #f8f7f3, 666px 1337px #f8f7f3,
    614px 721px #f8f7f3, 1696px 1672px #f8f7f3, 130px 470px #f8f7f3, 1699px 1841px #f8f7f3,
    1237px 1524px #f8f7f3, 1709px 712px #f8f7f3, 1372px 807px #f8f7f3, 1427px 481px #f8f7f3,
    1840px 356px #f8f7f3, 1732px 1768px #f8f7f3, 1836px 1481px #f8f7f3, 714px 629px #f8f7f3,
    750px 1656px #f8f7f3, 480px 1987px #f8f7f3, 1759px 1090px #f8f7f3, 508px 266px #f8f7f3,
    817px 767px #f8f7f3, 879px 181px #f8f7f3, 184px 1309px #f8f7f3, 1947px 1861px #f8f7f3,
    242px 948px #f8f7f3, 961px 750px #f8f7f3, 798px 921px #f8f7f3, 1350px 1729px #f8f7f3,
    1848px 74px #f8f7f3, 1707px 233px #f8f7f3, 342px 1215px #f8f7f3, 70px 308px #f8f7f3,
    449px 1895px #f8f7f3;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
